
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.caption{
  height: 200px;
  .txt{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.img_article{
  width: 100%;
}

.boutons{
  margin-top: 20px;
  padding-left: 0;
  li{
    display: inline-block;
  }
}

.button_de_co{
  font-size: 8px;
  padding: 5px;
}

.un_article{
  .zone_like{
    padding-top: 4px;
    .likes{
      text-align: center;
      padding-top: 8px;
    }
  }

}

.un_commentaire{
  .img_comment{
    width: 100%;
  }
}
